extends layout

block append content   
  div.container
    //Summary of company
    p.ggSummary Ever had a great idea for a video game and thought, "Wow, my idea could be the next Mario Bros but I have absolutely no coding experience whatsoever. If only I could entrust my billion-dollar idea to someone capable of making it a viable product!"
    p.ggSummary Introducing, Global Gaming (GG)! Here at GG, we strive to take your ideas from your mind to the player's hands.
    p.ggSummary GG is a web app that will allow users to submit their amazing game ideas. Users will register and login. Once logged in, they can submit, view, and update their game ideas. Users that aren't logged in can still see all public games submitted to the site. Once a game is submitted by a user, it will be looked over by devs, who will correspond if they're interested in developing it.

    //Filter games
    form.form-filter(role='form', action='', method='get')
      input.form-control(type='text', name='title', id='title', placeholder="Title")
      input.form-control(type='text', name='username', id='username', placeholder='Username')
      select(name="genre", id="genre", placeholder="Genre")
        option(value="" disabled selected) Genre
        each genre in genres
          option(value="#{genre}", name="#{genre}") #{genre}
      select(name="platform", id="platform")
        option(value="" disabled selected) Platform
        each platform in platforms
          option(value="#{platform}", name="#{platform}") #{platform}
      if (user)
        label
          input.form-check-inline(type='checkbox', name='mine', id='mine', value="mine")
          | Only Show My Games
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Filter Games

    //Display all public games
    if (games && usernames)
        table.table.table-striped
             thead
               tr
                 th Title
                 th Username
                 th Genre
                 th Platform
                 th Description
             tbody
               each game, index in games
                 tr
                   td #{game.title}
                   td #{usernames[index]}
                   td #{game.genre}
                   td #{game.platform}
                   td #{game.desc}
